/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

.sortable-ghost {
  position: relative;
}

.sortable-ghost::after {
  content: "";
  @apply absolute bottom-0 left-0 right-0 top-0 rounded bg-slate-400;
}

.sortable-drag {
  transform: rotate(5deg);
}
.sortable-chosen {
}

.task:focus,
.task:focus-visible {
  @apply outline-gray-400 !important;
  outline: gray auto 1px;
}
